<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <!--
  This config file controls where various messages are logged
  see http://nlog-project.org/wiki/Documentation for documentation
  -->

  <targets>   

    <!--file logger logs messages to the specified text file-->
    <target
      name="file" xsi:type="File"
      fileName="${basedir}/App_Data/Site.log"
      layout="${date}: ${message}" />

  </targets>

  <rules>
    <!--
        Levels:
          Fatal
          Error
          Warn
          Info
          Debug
          Trace
          Off
        -->

    <!--Log messages of level Info and above to the file logger configured above-->
    <logger name="*" minlevel="Debug" writeTo="file" />

  </rules>

</nlog>